# Copy this file to 'backend.env', set the values, and do not commit
# Example of values are below

# Required: the Token to access a server-side API
SOME_SERVICE_TOKEN=

# Optional Redis host (for persistence)
REDIS_HOST=stardust-redis
#REDIS_PORT=6379

# Optional: Interface/port to listen to (0.0.0.0 - to open to the external IFs of the running container)
#API_HOST=0.0.0.0
#API_PORT=1996
